@import url("https://fonts.cdnfonts.com/css/montserrat");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: blueviolet;
  position: relative;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 3.5rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;
}

.gallery-item-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-items: center;
  align-items: center;
}

.gallery-items-container {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  justify-items: center;
  align-items: center;
}

.gallery-item {
  width: 15rem;
  height: 15rem;
  background-color: rgb(112, 112, 112);
  border-radius: 20px;
  position: relative;
  object-fit: cover;
}

.gallery-item > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.navigation {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  background-color: rgb(110, 23, 190);
  height: 80px;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  width: fit-content;
}

.navigation > ul > li > a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 10px;
}

.navigation > ul > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  background-color: rgb(125, 21, 223);
}

.javascript-test {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.javascript-box {
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  border: 2px dashed gainsboro;
}

.btn {
  display: inline-block;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
}

.btn:hover {
  background-color: rgb(132, 0, 255);
  cursor: pointer;
}
